.buttons-download-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.buttons-download-container hr {
  border: none;
  height: 1px;
  margin: 0px;
  padding: 0px;
  background-color: var(--main-color);
}

.buttons-download-container > a {
  text-align: left;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  padding: 5px 0px;
  color: var(--accent-color);

  transition: unset;
}

.buttons-download-container > a:focus,
.buttons-download-container > a:hover {
  color: var(--secondary-color);
  background-color: var(--focal-color);
  border-color: var(--focal-color);
  padding-left: 5px;
  padding-left: 5px;
}

.buttons-download-container > a:focus {
  outline: none;
}

.buttons-download-container > a:visited {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .buttons-download-container {
    margin: 0px;
    flex-direction: row;
    gap: 10px;
  }
  .buttons-download-container > a {
    padding: 5px 5px;

    border-width: 3px;
  }

  .buttons-download-container hr {
    display: none;
  }
}

@media (max-width: 640px) {
  .buttons-download-container {
    gap: 0px;
  }
  .buttons-download-container hr {
    display: none;
  }

  .buttons-download-container > a {
    padding: 5px 5px;
  }
}

@media (max-width: 500px) {
  .buttons-download-container {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .buttons-download-container hr {
    display: initial;
  }
  .buttons-download-container > a {
    padding: 5px 0px;
  }
}
