.buttons-download-container hr {
  height: 0px;
  border: none;
  border-top: 1px solid var(--focal-color);
}

.button-download {
  text-align: left;
  text-decoration: none;

  padding: 5px 0px;
  color: var(--focal-color);

  transition: none;
  user-select: none;

  /* font-family: monospace; */
  /* font-size: 1rem; */
}

.button-download:focus,
.button-download:hover {
  color: var(--secondary-color);
  background-color: var(--focal-color);
  padding-left: 5px;
  padding-left: 5px;

  transition: none;
}

.button-download:focus {
  outline: none;
}

.button-download:visited {
  text-decoration: none;
}

/* specifying font weights  */

[data-theme="light"] .button-download {
  font-weight: 100;
}

[data-theme="light"] :where(.button-download:focus, .button-download:hover) {
  font-weight: 400;
}

[data-theme="dark"] .button-download {
  font-weight: 400;
}

[data-theme="dark"] :is(.button-download:focus, .button-download:hover) {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .button-download {
    padding: 5px 5px;
    border-width: 3px;
  }

  .buttons-download-container hr {
    display: none;
  }
}

@media (max-width: 640px) {
  .buttons-download-container hr {
    display: none;
  }

  .button-download {
    padding: 5px 5px;
  }
}

@media (max-width: 500px) {
  .buttons-download-container hr {
    display: initial;
  }
  .button-download {
    padding: 5px 0px;
  }
}
