h1 {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: var(--page-padding);
}

/* my mailto link  */

.email {
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 1px;
  /* color: var(--focal-color); */

  transition: unset;
}

.email:hover {
  cursor: pointer;
}

/* for narrowed screens */

@media (max-width: 1200px) {
  .about > article {
    columns: 2;
    column-gap: var(--page-padding);
  }
}

/* for mobile screens */

@media (max-width: 640px) {
  .about > article {
    columns: 1;
    column-gap: unset;
  }
  .about > article > p {
    padding-bottom: var(--page-padding);
  }
}
