.about > h1 {
  font-size: 3rem;
  padding-bottom: var(--page-padding);
  color: var(--focal-color);
}

.about > article {
  padding-bottom: var(--page-padding);
  /* color: var(--main-color); */
  color: var(--accent-color);
}

.about > article > p {
  padding-bottom: var(--page-padding);
  font-size: 1.1rem;
  /* font-family: monospace; */
}

/* my mailto link  */

.email {
  display: inline-block;
  text-decoration: none;
  transition: unset;
  color: var(--focal-color);
}

.email:hover {
  cursor: url("../../assets/icons/flame.svg"), pointer;
}

.email:focus,
.email:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;

  color: var(--focal-color);
  text-decoration-color: var(--focal-color);
}

/* for narrowed screens */

@media (max-width: 1200px) {
  .about > article {
    columns: 2;
    column-gap: var(--page-padding);
  }
}

/* for mobile screens */

@media (max-width: 640px) {
  .about > article {
    columns: 1;
    column-gap: unset;
  }
  .about > article > p {
    padding-bottom: var(--page-padding);
  }
}
