section.info {
  padding: 40px;
  padding-right: 20px;
  flex-basis: 450px;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  justify-content: space-between;

  /* transition: 150ms ease-in-out; */
}

.about > h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--focal-color);
}

.about > article {
  padding-bottom: 20px;
  /* color: var(--main-color); */
  color: var(--accent-color);
}

.about > article > p {
  padding-bottom: 1rem;
}

/* my mailto link  */

.email {
  display: inline-block;
  text-decoration: none;
  transition: unset;
  color: var(--focal-color);
}

.email:hover {
  cursor: pointer;
}

.email:focus,
.email:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  color: var(--focal-color);
  text-decoration-color: var(--focal-color);
}

/* for narrowed screens */

@media (max-width: 1200px) {
  section.info {
    flex-basis: auto;
    padding: 20px;
    padding-bottom: 60px;
  }
  .about > article {
    columns: 2;
    column-gap: 10px;
  }
}

/* for mobile screens */

@media (max-width: 640px) {
  .about > article {
    columns: 1;
    column-gap: unset;
  }
  .about > article > p {
    padding-bottom: 1rem;
  }
}
