/* about modal */

#about-dialog {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0px;
  border: none;
  background: var(--secondary-color);
  color: var(--main-color);
  font-size: 1rem;
  overflow-x: hidden;
  transition: unset;
}

#about-dialog main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

#about-dialog footer {
  bottom: 0;
}

#about-dialog article {
  width: 100%;
  /* max-width: 1200px; */
  /* padding: 2rem; */
  margin-left: auto;
  margin-right: auto;
}

#about-dialog section.message {
  margin-bottom: 2rem;
}

#about-dialog h1 {
  font-size: medium;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

#about-dialog h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

#about-dialog p {
  padding-bottom: 1rem;
  font-size: 2rem;
}

div.email {
  color: blueviolet;
  margin-bottom: 2rem;
}

.email:hover {
  cursor: pointer;
}

#about-dialog ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

#about-dialog ul li {
  margin-bottom: 0.5rem;
}

#about-dialog ul li:hover {
  cursor: pointer;
}

#about-dialog ul a,
#about-dialog .email {
  /* color: var(--main-color); */
  font-size: 2rem;
}

button#about-open,
button#about-close {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-size: medium;
  cursor: pointer;
  color: var(--main-color);
}

/* button#about-open, */
/* button#about-close, */
#about-dialog ul a,
#about-dialog .email {
  display: inline-block;
  will-change: transform;
  /* text-decoration: underline; */
  text-decoration: none;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 1px;
  transition: unset;
  border: none;
  color: var(--main-color);
}

/* button#about-open::after, */
/* button#about-close::after, */
#about-dialog ul a::after,
#about-dialog .email::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 102.5%;
  left: 0;
  background: #fff;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

/* button#about-open:hover::after, */
/* button#about-close:hover::after, */
#about-dialog ul a:hover::after,
#about-dialog .email:hover::after {
  transform: scale(1);
  transform-origin: left;
}

@media (max-width: 640px) {
  #about-dialog p,
  #about-dialog ul a,
  #about-dialog .email {
    font-size: 5vw;
  }

  small {
    /* font-size: 0.5rem; */
  }
}

#about-dialog main {
  height: unset;
  padding-top: 5rem;
  padding-bottom: 2rem;
  min-height: calc(100% - 3.5rem);
}

#about-dialog footer {
  position: relative;
}
