.gallery {
  overflow-y: inherit;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  transition: 150ms ease-in-out;
}

a.card {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure link covers entire card */
}

.card:hover {
  cursor: pointer;
}

.card .image-container {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  /* padding: 2rem; */
}

.card img {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 1 / 1; */
  object-fit: contain;
  transition: transform 300ms ease-in-out;
  user-select: none;
  /* align-self: stretch; */
}

.card:hover img {
  transform: scale(1.05);
}

.card .title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.card .year {
  font-size: 0.8rem;
}

@media (max-width: 1600px) {
  .gallery {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-y: auto;
    gap: 2rem;
  }
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 640px) {
  .gallery {
    grid-template-columns: 1fr;
    /* gap: var(--grid-gap); */
    gap: 2rem;
  }
}
