a.card {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure link covers entire card */
}

.card:hover {
  cursor: pointer;
}

.card .image-container {
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  transition: transform 300ms ease-in-out;
  user-select: none;
  /* align-self: stretch; */
  /* object-fit: cover; */ /* Закомментил, потому что некрасиво рендерится */
}

.card:hover img {
  transform: scale(1.05);
}

.card .title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.card .year {
  font-size: 0.8rem;
}
