.footer {
  /* font-size: 3em; */
  /* border: 2px dashed violet; */
}

.footer__buttons {
  /* padding-bottom: 1rem; */
}

.buttons-download-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  /* font-size: 3rem; */

  font-family: "Courier New", Courier, monospace;
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* align-items: baseline; */
  gap: 12px;
  padding-bottom: 1rem;
}

.footnote {
  color: var(--main-color);
  font-size: 0.7rem;
  font-family: monospace;
  text-align: center;
}

/* for narrowed window */

@media (max-width: 1200px) {
  .footer__buttons {
    padding-bottom: 2rem;
    /* width: auto; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* align-items: baseline; */
  }

  .buttons-download-container {
    margin: 0px;
    flex-direction: row;
    gap: 10px;
  }

  .social-links {
    padding: 0px;
  }
}

/* for mobile screens */

@media (max-width: 640px) {
  .footer__buttons {
    display: flex;
    /* width: 100%; */
  }

  .buttons-download-container {
    gap: 0px;
  }
}

@media (max-width: 500px) {
  .footer__buttons {
    display: block;
    width: 100%;
  }

  .buttons-download-container {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}
