ul.social-links li {
  display: block;
  height: 24px;
  width: 24px;
}

ul.social-links li > a {
  position: relative; /* Добавлено для псевдоэлемента */
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: unset;
}

ul.social-links li > a:focus {
  outline: none;
  /* outline-color: var(--main-color); */
  /* outline: 1px solid var(--main-color); */
  border-radius: 0px;
  scale: 110%;
  /* border: 1px dashed blue; */
}

ul.social-links li > a::after {
  content: "";
  width: 24px;
  height: 24px;
  background: var(--focal-color);
  mask-repeat: no-repeat;
  mask-position: center;

  transition: none;
}

ul.social-links li > a:hover::after {
  background-color: var(--main-color);
}

ul.social-links li > a[title="Instagram"]::after {
  mask-image: url(./icons/instagram.svg);
}

ul.social-links li > a[title="Telegram"]::after {
  mask-image: url(./icons/telegram.svg);
}

ul.social-links li > a[title="LinkedIn"]::after {
  mask-image: url(./icons/linkedin.svg);
}
