.tooltip__wrapper {
  position: relative;
  display: inline-block;
  border: none;
}

.tooltip {
  display: inline;
  position: absolute;
  z-index: 1;
  user-select: none;
  font-size: 0.8em;
  padding: 5px 10px;
  white-space: nowrap;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  border: var(--main-color) 1px solid;
  color: var(--main-color);
  background-color: var(--secondary-color);
}
