@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root,
button,
a {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

[data-theme="light"] {
  --main-color: #000000;
  --secondary-color: #ffffff;
  /* --focal-color: var(--true-black); */
  /* --accent-color: var(--black); */
}

[data-theme="dark"] {
  --main-color: #ffffff;
  --secondary-color: #000000;
  /* --focal-color: var(--true-white); */
  /* --accent-color: var(--white); */
}

body {
  /* position: relative; */
  color: var(--main-color);
  background-color: var(--secondary-color);
  /* padding: 0px; */
  /* margin: 0px; */
  /* width: 100vw; */
}

main {
  /* width: 100%; */
  position: relative;
  padding: 4rem 0 4rem 0;
  /* padding-bottom: 2rem; */
  /* margin: 2rem 0rem; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100%; */
  padding: 2rem 2rem;

  margin-left: auto;
  margin-right: auto;
  /* max-width: var(--max-content-width); */
}

header h1 {
  font-size: medium;
  font-weight: 400;
}

/* .info {
  padding: var(--page-padding);
  padding-right: calc(0.5 * var(--page-padding));

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;

  transition: 150ms ease-in-out;
} */

footer {
  /* max-width: 1200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */

  /* padding-left: 2rem; */
  /* padding-right: 2rem; */

  /* padding: 2rem; */
  text-align: center;
  position: absolute;
  padding-bottom: 2rem;
  width: 100%;

  /* max-width: var(--max-content-width); */
}

/* additional styles */

/* .narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
} */

/* tooltip */

.tooltip__wrapper {
  position: relative;
  /* display: inline; */
  /* border: none; */
}

.tooltip__wrapper:hover {
  cursor: pointer;
}

.tooltip {
  display: inline;
  position: absolute;
  z-index: 1;
  font-size: 0.8em;
  padding: 5px 10px;
  white-space: nowrap;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);

  border: var(--main-color) 1px solid;
  color: var(--main-color);
  background-color: var(--secondary-color);
  user-select: none;
  cursor: initial;
}

/* for narrowed window */

@media (max-width: 1200px) {
  /* .footer__buttons {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  } */

  /* .buttons-download-container {
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    gap: 0px;
    border: 1px solid black;
  } */

  /* .social-links {
    padding: 0px;
  } */
}

/* for mobile screens */

@media (max-width: 640px) {
  /* .footer__buttons {
    display: flex;
  } */

  /* .buttons-download-container {
    gap: 0px;
  } */
}

@media (max-width: 500px) {
  /* .footer__buttons {
    display: block;
    width: 100%;
  } */

  /* .buttons-download-container {
    flex-direction: column;
    padding-bottom: 1rem;
  } */
}

/* .buttons-download-container hr {
  height: 0px;
  border: none;
  border-top: 1px solid var(--main-color);
} */

/* .button-download {
  text-align: left;
  text-decoration: none;

  padding: 5px 0px;
  color: var(--main-color);

  transition: none;
  user-select: none;

  font-size: 3rem;
} */

/* .button-download:focus,
.button-download:hover {
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding-left: 5px;
  padding-left: 5px;

  transition: none;
} */

/* .button-download:focus {
  outline: none;
} */

/* .button-download:visited {
  text-decoration: none;
} */

/* for narrowed window */

@media (max-width: 1200px) {
  /* .button-download {
    padding: 5px 5px;
    font-size: 1rem;
  } */

  /* .button-download:first-of-type {
    border-right: 1px solid black;
  } */

  /* .buttons-download-container hr {
    display: none;
  } */
}

@media (max-width: 640px) {
  /* .buttons-download-container hr {
    display: none;
  } */

  /* .button-download {
    padding: 5px 5px;
  } */
}

@media (max-width: 500px) {
  /* .buttons-download-container {
    border: none;
  }
  .buttons-download-container hr {
    display: initial;
  }
  .button-download {
    padding: 5px 0px;
  }
  .button-download:first-of-type {
    border: none;
  } */
}
