.main__page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* for narrowed window */
@media (max-width: 1200px) {
  .main__page {
    flex-direction: column-reverse;
    height: auto;
  }
}
