@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:root,
button,
a {
  font-family: "Inter", Helvetica, sans-serif;
}

:root {
  --true-black: #000000;
  --black: #1a1a1a;
  --true-white: #ffffff;
  --white: #dadada;
  --light-gray: #a3a3a3;
}

[data-theme="light"] {
  --focal-color: var(--true-black);
  --main-color: var(--black);
  --accent-color: var(--black);
  --secondary-color: var(--true-white);
}

[data-theme="dark"] {
  --focal-color: var(--true-white);
  --main-color: var(--white);
  /* --accent-color: var(--light-gray); */
  --accent-color: var(--white);
  --secondary-color: var(--black);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: 300ms ease-in-out;
}

body {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

::selection {
  background-color: var(--focal-color); /* Цвет фона выделенного текста */
  color: var(--secondary-color); /* Цвет текста при выделении */
}
